//! **************************************************************************
// Written by: Map O.40d on Thu Apr 07 12:26:53 2011
//! **************************************************************************

SCHEMATIC START;
COMP "LEDS<0>" LOCATE = SITE "AF22" LEVEL 1;
COMP "MCLK100_b" LOCATE = SITE "AC16" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "AF23" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "AF25" LEVEL 1;
COMP "SYNC_TRIGGER_IN_b<0>" LOCATE = SITE "AE12" LEVEL 1;
COMP "MCLK100" LOCATE = SITE "AB15" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "AE25" LEVEL 1;
COMP "SYNC_TRIGGER_IN_b<1>" LOCATE = SITE "AE10" LEVEL 1;
COMP "LEDS<4>" LOCATE = SITE "AD25" LEVEL 1;
COMP "LEDS<5>" LOCATE = SITE "AE26" LEVEL 1;
COMP "LEDS<6>" LOCATE = SITE "AD26" LEVEL 1;
COMP "LEDS<7>" LOCATE = SITE "AC26" LEVEL 1;
COMP "tx" LOCATE = SITE "L8" LEVEL 1;
COMP "SYNC_TRIGGER_IN<0>" LOCATE = SITE "AF12" LEVEL 1;
COMP "BUTTONS<0>" LOCATE = SITE "AF20" LEVEL 1;
COMP "SYNC_TRIGGER_IN<1>" LOCATE = SITE "AD10" LEVEL 1;
COMP "BUTTONS<1>" LOCATE = SITE "AE20" LEVEL 1;
COMP "SYNC_TRIGGER_OUT_b<0>" LOCATE = SITE "AD11" LEVEL 1;
COMP "BUTTONS<2>" LOCATE = SITE "AD19" LEVEL 1;
COMP "SYNC_TRIGGER_OUT_b<1>" LOCATE = SITE "AD8" LEVEL 1;
COMP "RESET_ROC_B1_b" LOCATE = SITE "AF10" LEVEL 1;
COMP "BUTTONS<3>" LOCATE = SITE "AD20" LEVEL 1;
COMP "RESET_ROC_B2_b" LOCATE = SITE "AF3" LEVEL 1;
COMP "FPGA100M" LOCATE = SITE "E18" LEVEL 1;
COMP "SYNC_TRIGGER_OUT<0>" LOCATE = SITE "AE11" LEVEL 1;
COMP "SYNC_TRIGGER_OUT<1>" LOCATE = SITE "AC8" LEVEL 1;
COMP "RESET_ROC_B1" LOCATE = SITE "AF9" LEVEL 1;
COMP "RESET_ROC_B2" LOCATE = SITE "AF4" LEVEL 1;
SCHEMATIC END;

