//! **************************************************************************
// Written by: Map K.39 on Tue Apr 12 14:12:20 2011
//! **************************************************************************

SCHEMATIC START;
COMP "MCLK100" LOCATE = SITE "B12" LEVEL 1;
COMP "FPGA100M" LOCATE = SITE "E18" LEVEL 1;
SCHEMATIC END;

